 .button-icon {
      position: relative;
      top: 2px;
      width: 12px;
      height: 12px;
      fill: #00b5e2;
  }

  .button-icon-container {
      display: inline-block;
      border: 0;
      border-radius: 12px;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      background-color: white;
  }

  #canvases {
      -ms-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      position: relative;
      z-index: 0;
      overflow: auto;
  }
  .footer {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      z-index: 1;
      border-top: 1px solid #cccccc;
      height: 65px;
      background-color: #fafafa;
  }

  .footer-section {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      height: 100%;
  }

  .footer-section:not(:first-child) {
      border-left: 1px solid #cccccc;
  }

  .dcl-widget-canvas-history,
  .dcl-widget-canvas-zoom,
  .dcl-widget-preview-document {
      display: inline-block;
      margin: auto;
  }

  .dcl-widget-save-document {
      margin-right: 25px;
  }

  .footer .dcl-button--toolbar {
      height: auto;
  }

  .dcl-widget-preview-document {
      align-self: center;
  }

  .dcl-action-btn-group {
      margin: 0;
  }

  .dcl-action-btn--undo,
  .dcl-action-btn--redo {
      padding: 10px 20px;
  }

  html,
  body {
      height: 100%;
  }

  .page {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  .toolbar,
  .tabs {
      position: absolute;
      z-index: 1;
  }

  .toolbar {
      z-index: 2;
  }

  .design-area {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      position: relative;
      overflow: hidden;
      z-index: 0;
      background-color: #f0f0f0;
  }

  .visible {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
  }

  *::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }

  *::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
  }

  *::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #697582;
  }

  .dcl-editor-mode--templateEditor .review-button-container {
      display: none;
  }

  .template-editor-button {
      display: none;
  }

  .dcl-editor-mode--templateEditor .template-editor-button {
      display: block;
  }

  .dcl-widget-edit-text-placeholder {
      display: none;
  }

  .dcl-editor-mode--templateEditor .dcl-widget-edit-text-placeholder {
      display: flex;
  }

  .tabs {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 80%;
  }

  .tabs__content {
      border-radius: 4px;
      width: 250px;
      height: 100%;
      background: white;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .content-panel {
      display: none;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      height: 100%;
      overflow: hidden;
  }

  .content-panel.is-active {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
  }

  .info-bar {
      padding: 10px 20px;
      background-color: #E5F6FD;
      color: #697582;
      font-size: 14px;
      height: 34px;
  }

  .canvas-switcher__info-bar-design-areas {
      display: none;
  }

  .tabs__items {
      user-select: none;
  }

  .tab-item {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      margin: 0 10px 30px;
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
  }

  .dcl-widget-edit-text,
  .dcl-widget-edit-text-placeholder {
      overflow: auto;
      margin-bottom: 10px;
  }

  .tab-item.is-active .tab-item__icon-wrapper {
      background: white;
  }

  .tab-item.is-active .tab-item__description {
      color: #00b5e2;
  }

  .icon__use {
      fill: #697582;
      color: #E1E6EA;
  }

  .tab-item:hover .icon__use {
      fill: #00b5e2;
      color: #E1E6EA;
  }

  .tab-item.is-active .icon__use {
      fill: #00b5e2;
      color: #00b5e2;
  }

  .tab-item__description {
      margin-top: 5px;
      color: #697582;
      font-size: 12px;
  }

  .tab-item__icon-wrapper {
      width: 48px;
      height: 48px;
      background-color: #E1E6EA;
  }

  .tab-item__icon {
      width: 48px;
      height: 48px;
  }

  .info-bar,
  .button-bar {
      -ms-flex: none;
      -webkit-flex: none;
      flex: none;
      user-select: none;
      cursor: default;
  }

  .button-bar {
      margin-top: 30px;
      margin-bottom: 10px;
  }

  .dcl-widget-upload-list,
  .dcl-widget-edit-text,
  .dcl-widget-edit-text-placeholder,
  .dcl-widget-add-shape {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
  }

  .dcl-widget-upload-list {
      overflow: auto;
      margin-bottom: 10px;
  }

  .info-panel-text {
      margin: 0 35px 55px;
      text-align: center;
      color: #aaaaaa;
      font-size: 13px;
  }

  .dcl-widget-add-shape {
      margin-top: 20px;
  }

  .dcl-widget-add-shape .dcl-add-shapes__icon {
      width: 70px;
      height: 70px;
  }

  .dcl-widget-add-text,
  .dcl-widget-add-placeholder-text,
  .dcl-widget-upload-button {
      padding: 0 25px 10px;
  }
  .toolbar {
      width: 100%;
      height: auto;
      background-color: #ffffff;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
      transition: max-height 0.4s;
      max-height: 55px;
      height: 55px;
  }

  .toolbar .dcl-contextual-toolbar {
      position: absolute;
      margin: auto;
      bottom: 0;
      background-color: #ffffff;
      width: 100%;
  }

  .toolbar .dcl-contextual-toolbar .dcl-tool {
      margin: 0 10px;
  }

  .toolbar .dcl-contextual-toolbar-primary-row {
      background-color: #ffffff;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      width: 100%;
  }

  .toolbar .dcl-contextual-toolbar.dcl-invisible {
      top: auto;
      left: auto;
      visibility: visible;
  }

  .toolbar .dcl-edit-text__field {
      width: 400px;
      outline: unset;
      border: 2px solid #c4cdd6;
      border-radius: 4px;
  }

  .toolbar .dcl-edit-text__field:focus {
      border-color: #00b5e2;
  }

  .toolbar .dcl-toolbar-text-edit {
      position: absolute;
      padding-top: 3px;
      bottom: -50px;
      width: 100%;
      height: 50px;
      z-index: -1;
      transition: all 0.25s;
  }

  .toolbar .dcl-invisible .dcl-toolbar-text-edit,
  .toolbar .dcl-toolbar-text-edit.hidden {
      bottom: 0;
      opacity: 0;
  }

  .toolbar .dcl-toolbar-text-edit.hidden {
      display: inline-block !important;
  }

  .toolbar .dcl-tool {
      margin: 0 20px;
  }

  .toolbar .dcl-toolbar-text-edit {
      margin: 0;
  }

  .toolbar .dcl-tool .dcl-tool {
      margin: 0;
  }

  .toolbar .dcl-toolbar-button,
  .toolbar .dcl-expanding-button {
      background-color: #ffffff;
  }

  .toolbar--hidden {
      max-height: 0;
      box-shadow: none;
  }
